/** stylelint-disable */
@import url(./variables/index.css);
@import url(./article.css);

html,
body {
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/**
 * font
 */

body {
  white-space: pre-line;
  margin: 0;
  padding: 0;
  background-color: var(--color-base);
  color: var(--color-font-base);
  font-family: 'Shippori Mincho', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-kerning: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** 特殊な文字 */
  font-variant-ligatures: common-ligatures;

  /** ハイフン */
  -ms-hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  line-height: 1.8;
}

@media screen and (min-width: 60em) {
  body {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 120em) {
  body {
    font-size: 1.375rem;
  }
}
